@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: poppins;
}
header{
  background-color: whitesmoke;
  height: 80px;
  display: flex;
  justify-content: center;
}
nav ul{
  display: flex;
  gap: 5px;
  
}
.link{
  text-decoration: none;
  color: red;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  font-weight: 500
}
.link:hover{
  color: black;
}
nav ul li{
  list-style: none;
  padding: 22px;
  text-decoration: none;outline: none;
  
}
.unorderedlist{
  display: flex;
  flex-wrap: wrap;
}
.container{
  width: 95%;
  text-align: center;
}
.para{
  margin: 30px 0px;
}
.section{
  display: flex;
  justify-content: center;
}
.post-card{
  width: 300px;
  height: 550px;
  background-color: white;
  margin: 20px;
  list-style: none;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px gray;
}
.post-card:hover{
  box-shadow: 5px 5px 10px rgb(188, 122, 122);
}
.arial{
  width: 100%;
}
.contentful-img{
  display: flex;
  justify-content: center;
  width: 100%;
}
.contentfulimg{
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.title{
  font-size: 22px;
  margin: 10px;
  color: rgb(98, 93, 93);
  
}
.date{
  font-size: 13px;
  margin: 10px;
  padding: 10px 0px;
  color: rgb(170, 169, 169);
}
.text-base{
  margin: 10px;
  font-size: 15px;
  color: #5a3b54;
}
.author{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 10px;
  /* position: absolute; */
  top: 75vh;
}
.rounded-full{
  border-radius: 50%;
  padding: 5px;
}
.font-semibold{
  color: #5a3b54;
  font-size: 14px;
}
.breif{
  display: flex;
  justify-content: center;
  margin: 100px;
}
.breif-img{
  height: 500px;
  width: 800px;
  margin: 20px 0px;
}
.details{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  padding: 20px;
  width: 70%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.prose{
  position: relative;
}
.th{
  display: flex;
  justify-content: center;
  margin: 30px 20px;
}
.title-heading p{
  font-size: 18px;
  color: gray;
  
}

input{
  height: 40px;
  border-radius: 10px;
  border: 0.5px solid black;
  width: 400px;
  padding: 10px;
  outline: none;
  margin: 10px 20px;
}
.ais-SearchBox-submit{
  border-radius: 10px;
  width: 60px;
  height: 40px;
  outline: none;
  border: none;
  background-color: rgb(194, 195, 197);
  color: white;
  
}
.ais-SearchBox-reset{
  display: none;
}
.ais-SearchBox-submitIcon{
  height: 20px !important;
  width: 20px !important;
}
::placeholder{
  color: lightgrey;
}

.algo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
}
